*{margin: 0;padding: 0;border: 0;list-style: 0;}
dd,dt,dl,ul,li{list-style: none;}
.left{
	
	width:20%;
	height: 100%;	
	float: left;
	box-sizing:border-box;
}
.leftmenu ul{
	
	margin-top: -100px;
}
.leftmenu ul li{
	margin-top: 50px;
	margin-left: 90px;
	list-style: none;
}
.leftmenu ul li a{
	text-decoration: none;
	color: #3c3c3c;
	font-size: 18px;
	font-weight: bold;
}
.button{
	display: inline-block;
	padding: 1em;
	text-decoration: none;
	color: white;
	background-color: #2F4F4F;
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: wobble vertical;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-10px);
}
.leftlogo img{
	margin: 100px;
}
.right{
	color: #B0C4DE ;
	background:url(../img_files/school.png)bottom no-repeat;
	width: 100%;
	height: 100%;	
	float: left;
	box-sizing:border-box;
}


.leftmenu li.button a{
color: #FFFFFF;
}

h1{
	background: url(../img_files/logo_big.png)no-repeat ;
	margin: 50px 100px 0 400px;
	width: 297px;
	height: 161px;
}
.center ul{
	margin-top: 30px;
	margin-left: 200px;
}
.center li{
	float: left;
	margin-left:60px;	
}

/*设置图片*/
.centerpic{
	position: relative;
	width: 129px;
	height: 130px;
	cursor: pointer;	
}
/*设置a和文字不可见*/
.centerpic a,.centerpic span{
	display: none;
	text-decoration: none;
	font-weight: bold;
}
/*鼠标经过时a的定位*/
.centerpic:hover a.now{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	left: 0;
	display: block;
}
/*设置显示文字定位*/
.centerpic:hover span{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	width: 129px;
	height: 130px;
	z-index: 10;
	height: 130px;
	line-height: 130px;
	text-align: center;
	background: #2F4F4F;
	filter:alpha(opacity=70);/*设置背景半透明*/
	-moz-opacity:0.8;/*设置背景文字透明度*/
	opacity:0.8;
}
iframe{
	width:80%;
	height: 100%;
}
.rightmenu1{
	width: 100%;
	height: 100%;
	background: #00BFFF;
}

.navbar{
	width: 30%;
	height: 100%;
	box-sizing:border-box;
	float: left;
	

}

/*设置图片*/
.navbar_pic{
	position: relative;
	width: 100%;
	height:33.3%;
	cursor: pointer;
	text-align: center;	
}
.navbar_pic img{
	
	margin-top:35px;
}
/*设置a和文字不可见*/
.navbar_pic a,.navbar_pic span{
	display: none;
	text-decoration: none;
	font-weight: bold;

}
/*鼠标经过时a的定位*/
.navbar_pic:hover a.now{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	left: 0;
	display: block;

}
/*设置显示文字定位*/
.navbar_pic:hover span{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	width: 100%;
	height:100%;
	z-index: 10;
	height: 100%;
	line-height: 130px;
	text-align: center;
	background: #2F4F4F;
	filter:alpha(opacity=70);/*设置背景半透明*/
	-moz-opacity:0.8;/*设置背景文字透明度*/
	opacity:0.8;
}
/*左边背景图*/
.quwei{
	width: 70%;
	height: 100%;
	
	
	float: left;
	box-sizing:border-box;
}


.find ul li.tel1 img {
	/*background:  url(../img_files/tel1.png)no-repeat ;*/
	width: 300px;
	height: 530px;
	background: #fff;
	border-radius: 10%;
}
.find ul li{
	top: 10px;
	height: 300px;
	
} 
.find ul li.img1 img{
	width: 250px;
	height: 380px;
	margin-top: -240px;
	margin-left: 25px;
}
.con dl{
	width: 248px;
	height: 374px;
	position: relative;
	top: 50px;
	left: 200px;
}
.find dd ol li.olli{
	width: 50px;
	height: 50px;	
	border-radius: 50%;
	background: #708090;
}
.find dd ol li.ollimg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #32CD32;
}
.find  dd ol li{
	height: 50px;
	font-size: 12px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	width: 50px;
	border-radius: 50%;
	float: left;
	cursor: pointer;
	margin: 0 16px;
	top: 300px;
}
.find dd ol span{
	position: absolute;
	top: 320px;
	left: 70px;
}
.findp {
	
	width: 150px;
	height: 100px;
	line-height: 50px;
	margin-right: 300px;
	margin-left: 30px;
	margin-top: -100px;
	padding:10px;
	color: #fff;
}
.gsjs{
	margin:100px auto;

}
.txet{
	
	width: 400px;
	height: 300px;
	position: absolute;
	padding: 5px 25px;
	text-align: left;
	top: 0;
	font-size: 14px;
	line-height: 26px;
	color: #737373;
	margin-top: 130px;
	margin-left: 100px;
}
.rightmenu2{
	width: 100%;
	height: 100%;
	background: #FFD700;
}
.rightmenu3{
	width: 100%;
	height: 100%;
	background: #FFC0CB;
}
.navbar_pic1{
	position: relative;
	width: 100%;
	height:33.3%;
	cursor: pointer;
	text-align: center;	
	border: 1px solid #fff;
}
.navbar_pic2{
	position: relative;
	width: 100%;
	height:66.6%;
	cursor: pointer;
	text-align: center;	
}
.navbar_pic1 img{
	
	margin-top:35px;
}
.navbar_pic1 a,.navbar_pic span{
	display: none;
	text-decoration: none;
	font-weight: bold;

}
/*鼠标经过时a的定位*/
.navbar_pic1:hover a.nav{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	left: 0;
	display: block;

}
/*设置显示文字定位*/
.navbar_pic1:hover span{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	width: 100%;
	height:100%;
	z-index: 10;
	height: 100%;
	line-height: 130px;
	text-align: center;
	background: #2F4F4F;
	filter:alpha(opacity=70);/*设置背景半透明*/
	-moz-opacity:0.8;/*设置背景文字透明度*/
	opacity:0.8;
}
.gushi{
	margin: 0 auto;
	background: #fff;
}
h3{
	padding-top: 20px;
}
.gushi p{
	margin-top: 10px;
	margin-left: 10px;
	text-indent: 1cm;
	font-size: 12px;
	color: #3c3c3c;
	line-height: 20px;
}
.gushi img{
	margin-top: 20px;
	margin-left: 10px;
}
.rightmenu4{
	width: 100%;
	height: 100%;
	background: #00FF7F;
}
.address{
	width: 500px;
	height: 100px;
	line-height: 45px;
	margin-top: -330px;
	margin-left: 200px;
	padding:10px; 
}
.address i{  
 font-style: normal;
    display: block;
    width: 140px;
    border-radius: 30px;
    height: 35px;
    right: 15px;
    bottom: 15px;
    line-height: 35px;
    text-align: center;
    margin-right: 500px;
    top: 360px;
  }
.address i{
    cursor: pointer;
    background: #e4e4e4;
    position: absolute;
 }
 .address i:hover{
 	color: #fff;
 	background: #778899;
 	cursor: pointer;
 	font-weight: bold;
 }
 .iframe{
 	width: 100%;
 	height: 100%;
 }
 .quweio{
	width: 70%;
	height: 100%;
	margin: 100px auto;
	
	float: left;
	box-sizing:border-box;
}