/*初始化*/
body,span,div,img,ol,h1,h2,h3,h4,h5,h6,dd,dt,dl,ul,li{margin: 0;padding: 0;border: 0;list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/*公共样式*/
.clearfix:after,.cf:after{content: "";clear: both;display: block;visibility: hidden;height: 0;}
.clearfix,.cf{zoom:1;}
.clear,.cl{clear: both;}
iframe{

	width:1145px;
	height:650px;
}

/*设置图片*/
.menu{
	position: relative;
	width: 100%;
	height:33.3%;
	cursor: pointer;
	text-align: center;	
	border: 1px solid #fff;
}

.menu img{
	
	margin-top:35px;
}
/*设置a和文字不可见*/
.centerpic a,.centerpic span{
	display: none;
	text-decoration: none;
	font-weight: bold;
}
/*鼠标经过时a的定位*/
.centerpic:hover a.now{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	left: 0;
	display: block;
}
/*设置显示文字定位*/
.centerpic:hover span{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	width: 100%;
	height:100%;
	z-index: 10;
	height: 100%;
	line-height: 130px;
	text-align: center;
	background: #2F4F4F;
	filter:alpha(opacity=70);/*设置背景半透明*/
	-moz-opacity:0.8;/*设置背景文字透明度*/
	opacity:0.8;
}
.content{
	margin:80px auto;

}
.right{
	width: 100%;
	height: 100%;}
/*公共样式结束*/
/*main*/
.main{
	color: #B0C4DE ;
	width: 100%;
	height: 100%;	
	float: left;
	box-sizing:border-box;	
}
.pic{
	position: relative;
	width: 129px;
	height: 130px;	
}

h1{
	background: url(../img_files/logo_big.png)no-repeat ;
	margin: 50px 100px 0 400px;
	width: 297px;
	height: 161px;
}
.school img{	
	margin-top:60px; 
}
.center ul{
	margin-top: 30px;
	margin-left: 200px;
}
.center li{
	float: left;
	margin-left:60px;	
}

/*left*/
.left{
	
	width:200px;
	height: 100%;	
	float: left;	
	box-sizing:border-box;
}
.leftlogo{
	width: 88px;
	height: 150px;
	margin: 50px auto;
}

.leftmenu ul{
	width: 200px;
	height: 350px;
	margin-left:50px;
}
.leftmenu ul li{
	margin-top: 40px;
	list-style: none;
}
.leftmenu ul li a{
	text-decoration: none;
	color: #3c3c3c;
	font-size: 18px;
	font-weight: bold;
}
.button{
	display: inline-block;
	padding: 1em;
	text-decoration: none;
	color: white;
	background-color: #2F4F4F;
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: wobble vertical;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-10px);
}
.leftmenu li.button a{
color: #FFFFFF;
}
/*柚点趣味*/
.navbar{
	width: 30%;
	height: 100%;
	box-sizing:border-box;
	float: left;
}
.content1{
	width: 100%;
	height: 100%;
}
/*右边背景图*/
.quwei{
	width: 70%;
	height: 100%;	
	float: left;
	box-sizing:border-box;
}
.find ul li.tel1 img {	
	width: 300px;
	height: 530px;
	background: #fff;
	border-radius: 10%;
}
.find ul li{
	top: 10px;
	height: 300px;
	
} 
.find ul li.img1 img{
	width: 250px;
	height: 380px;
	margin-top: -240px;
	margin-left: 25px;
}
/*图片轮播*/

.find ul li.img2 img{
	
	width: 270px;
	height: 400px;
	margin-top: -240px;
	margin-left: 20px;
	position: relative;
}
.find .lun{
	position: absolute;
	z-index: 1000;
	margin-top: -100px;
	margin-left: 80px;
}
.find .lun li{
	
	width: 1px;
	height: 1px;
	border-radius: 50%;
	float: left;
	

}
/*结束*/
.find .listyle{
	background: #fff;
}
.find ul li.img3{
	
	width: 100px;
	height: 30px;
	margin-top: -300px;
	margin-left: 100px;
}

.con dl{
	width: 248px;
	height: 374px;
	position: relative;
	top: 50px;
	left: 300px;
}
.find dd .findol li.olli{
	width: 50px;
	height: 50px;	
	border-radius: 50%;
	background: #708090;
}
.find dd .findol li.ollimg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #32CD32;
}
.find  dd .findol li{
	height: 50px;
	font-size: 12px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	width: 50px;
	border-radius: 50%;
	float: left;
	cursor: pointer;
	margin: 0 16px;
	
}
.find dd .findol span{
	position: absolute;
	top: 320px;
	left: 70px;
}
.findp {	
	width: 150px;
	height: 100px;
	line-height: 50px;
	margin-right: 300px;
	margin-left: 100px;
	margin-top: -200px;
	padding:10px;
	color: #fff;
}
/*趣味结束*/
/*公司介绍*/
.rightmenu2{
	width: 100%;
	height: 100%;
	background: #FFD700;
}
.txet{	
	width: 400px;
	height: 300px;
	position: absolute;
	padding: 5px 25px;
	text-align: left;
	top: 0;
	font-size: 14px;
	line-height: 26px;
	color: #737373;
	margin-top: 130px;
	margin-left: 100px;
}
/*柚点趣事*/
.rightmenu3{
	width: 100%;
	height: 100%;
	background: #FFC0CB;
}
.gushi{
	margin: 0 auto;
	background: #fff;
}
 .iframe{
 	margin-left: 10px;
 	width: 100%;
 	height: 100%;
 }
h3{
	padding-top: 20px;
}
.gushi p{
	margin-top: 10px;
	margin-left: 10px;
	text-indent: 1cm;
	font-size: 12px;
	color: #3c3c3c;
	line-height: 20px;
}
.gushi img{
	margin-top: 20px;
	margin-left: 10px;
}
/*柚个坐标*/
.rightmenu4{
	width: 100%;
	height: 100%;
	background: #00FF7F;
}
.address{
	width: 500px;
	height: 100px;
	line-height: 45px;
	margin-top: -330px;
	margin-left: 200px;
	padding:10px; 
}
.address i{  
 font-style: normal;
    display: block;
    width: 140px;
    border-radius: 30px;
    height: 35px;
    right: 15px;
    bottom: 15px;
    line-height: 35px;
    text-align: center;
    margin-right: 500px;
    top: 360px;
     cursor: pointer;
    background: #e4e4e4;
    position: absolute;
  }
 .address i:hover{
 	color: #fff;
 	background: #778899;
 	cursor: pointer;
 	font-weight: bold;
 }
/*柚园计划*/
 .quweio{
	width: 70%;
	height: 100%;
	margin: 100px auto;
	float: left;
	box-sizing:border-box;
	
}
.con_menu{width: 100%;
		height: 100%;}

.text-img{
	margin-top: 71px;
	width: 460px;	
	margin-left: -30px;
}

.dashi{
	position:absolute;
	width: 410px;
	height: 255px;
	text-align: left;
	margin-top: 200px;
	background: #fff;
	margin-left: 90px;
}
.dashi img{float: left;
		margin-top: 80px;}
.dashi_content{
	float: left;
	padding-left: 50px;
	margin-top: 40px;
	font-size: 14px;
	color: #3c3c3c;
	width: 200px;
}

.form input{
	width: 120px;
	height: 25px;
}
.form ul li{margin-top: 20px;}
.form label{width: 70px;}
.btn{width: 50px;
	height: 30px;
	cursor: pointer;
	background:#EEE;
	margin-top: 10px;
	margin-left: 60px;}
.btn:hover{background: #7F7F7F;}